In [9]:
from loguru import logger

from ndf import download

In [10]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

4

In [11]:
from ndf.util import get_last_business_day
from datetime import datetime

get_last_business_day(datetime(2022, 7, 5))

datetime.datetime(2022, 7, 1, 0, 0)

In [12]:
import ndf.datamining

mining = ndf.datamining.datamining()

# result = mining.tulletprebon_calcs(ndf.util.get_cache_filename('tulletprebon', '2023-04-28'))
result2 = mining.gfi_calcs(ndf.util.get_cache_filename('GFI', '2023-04-28'))
# result2 = mining.gfi_calcs('/Users/cleiton/PycharmProjects/ndfutil/DATA/GFI_2023-04-28.pkl')

2023-05-07 15:26:35.044 | INFO     | ndf.datamining:gfi_calcs:329 - GFI calcs starting
2023-05-07 15:26:35.044 | INFO     | ndf.datamining:gfi_calcs:330 - Opening /Users/cleiton/PycharmProjects/ndfutil/DATA/GFI_2023-04-28.pkl
2023-05-07 15:26:35.049 | DEBUG    | ndf.datamining:gfi_calcs:356 - GFI before mining:
0                     Description      Volume
0  USDBRL NDF 27APR2023 BILATERAL   285000000
1  USDBRL NDF 28APR2023 BILATERAL  1725000000
2  USDBRL NDF 31MAY2023 BILATERAL  1440000000
3  USDBRL NDF 18DEC2023 BILATERAL    19910000
4  USDBRL NDF 18MAR2024 BILATERAL    20000000
2023-05-07 15:26:35.054 | DEBUG    | ndf.datamining:gfi_calcs:436 - GFI _summary ===>
0      Total for human      Volume
Class
BROKEN           3.49B  3489910000

USDBRL NDF 27APR2023 BILATERAL
USDBRL NDF 28APR2023 BILATERAL
USDBRL NDF 31MAY2023 BILATERAL
USDBRL NDF 18DEC2023 BILATERAL
USDBRL NDF 18MAR2024 BILATERAL
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None

In [13]:
tradition = mining.tradition_calcs()

2023-05-07 15:26:35.058 | INFO     | ndf.datamining:tradition_calcs:32 - TRADITION Data mining starting
2023-05-07 15:26:35.059 | DEBUG    | ndf.datamining:tradition_calcs:34 - Opening /Users/cleiton/PycharmProjects/ndfutil/DATA/tradition_2023-05-07.pkl
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:135: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_tradition_summary = df_tradition.groupby('Class').sum()
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:139: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for number in df_tradition.groupby('Class').sum()['Volume']:
2023-05-07 15:26:35.090 | DEBUG    | ndf.datamining:tradition_calcs:149 - TRADITION Summary ===>
       Total for human  Total_Trade_Count
Class
BROKEN             52M                  4

['Trade_Date', 'Description', 'Internal_Prod_Des', 'Contract_Type', 'Volume', 'Total_Trade_Count', 'Source', 'Class']
   Trade_Date     Description  \
0    20230504   SN_USDBRL_NDF
1    20230504  29D_USDBRL_NDF

                                   Internal_Prod_Des Contract_Type  \
0  Spot Next Non-Deliverable Forward - United Sta...           NaN
1  29 Day Non-Deliverable Forward - United States...           NaN

       Volume  Total_Trade_Count     Source   Class
0  26000000.0                  2  TRADITION  BROKEN
1  26000000.0                  2  TRADITION  BROKEN
        Trade_Date      Volume  Total_Trade_Count
Class
BROKEN    40461008  52000000.0                  4

In [14]:
mining.tradition_calcs('2023-04-25')

2023-05-07 15:26:35.094 | INFO     | ndf.datamining:tradition_calcs:32 - TRADITION Data mining starting
2023-05-07 15:26:35.094 | DEBUG    | ndf.datamining:tradition_calcs:34 - Opening /Users/cleiton/PycharmProjects/ndfutil/DATA/tradition_2023-04-25.pkl
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:135: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_tradition_summary = df_tradition.groupby('Class').sum()
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:139: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for number in df_tradition.groupby('Class').sum()['Volume']:
2023-05-07 15:26:35.124 | DEBUG    | ndf.datamining:tradition_calcs:149 - TRADITION Summary ===>
       Total for human  Total_Trade_Count
Class
BROKEN            290M                  6

['Trade_Date', 'Description', 'Internal_Prod_Des', 'Contract_Type', 'Volume', 'Total_Trade_Count', 'Source', 'Class']
   Trade_Date     Description  \
0    20230424   1W_USDBRL_NDF
1    20230424  39D_USDBRL_NDF

                                   Internal_Prod_Des Contract_Type  \
0  1 Week Non-Deliverable Forward - United States...           NaN
1  39 Day Non-Deliverable Forward - United States...           NaN

        Volume  Total_Trade_Count     Source   Class
0  145000000.0                  3  TRADITION  BROKEN
1  145000000.0                  3  TRADITION  BROKEN
        Trade_Date       Volume  Total_Trade_Count
Class
BROKEN    40460848  290000000.0                  6

       Total for human  Total_Trade_Count
Class
BROKEN            290M                  6

In [15]:
mining.tulletprebon_calcs('2023-04-26')

2023-05-07 15:26:35.131 | INFO     | ndf.datamining:tulletprebon_calcs:155 - TULLET PREBON calcs starting
2023-05-07 15:26:35.131 | DEBUG    | ndf.datamining:tulletprebon_calcs:157 - Opening /Users/cleiton/PycharmProjects/ndfutil/DATA/tulletprebon_2023-04-26.pkl
2023-05-07 15:26:35.139 | DEBUG    | ndf.datamining:tulletprebon_calcs:169 - tullet before mining:
    Batch Date Asset Class       Tradeable Instrument  \
0   2023-04-25          CU     0D_NDF.USD.BRL.TOD_NDF
1   2023-04-25          CU     0D_NDF.USD.BRL.TOM_NDF
2   2023-04-25          CU    11D_NDF.USD.BRL.11D_NDF
3   2023-04-25          CU  131D_NDF.USD.BRL.131D_NDF
4   2023-04-25          CU    14D_NDF.USD.BRL.14D_NDF
5   2023-04-25          CU  159D_NDF.USD.BRL.159D_NDF
6   2023-04-25          CU    15D_NDF.USD.BRL.15D_NDF
7   2023-04-25          CU    18D_NDF.USD.BRL.18D_NDF
8   2023-04-25          CU      1D_NDF.USD.BRL.1D_NDF
9   2023-04-25          CU  341D_NDF.USD.BRL.341D_NDF
10  2023-04-25          CU    34D_NDF.USD.BRL.34D_NDF
11  2023-04-25          CU   36D_NDF.USD.BRL.BMF2_NDF
12  2023-04-25          CU      5D_NDF.USD.BRL.2D_NDF
13  2023-04-25          CU  617D_NDF.USD.BRL.617D_NDF
14  2023-04-25          CU   69D_NDF.USD.BRL.BMF3_NDF
15  2023-04-25          CU    6D_NDF.USD.BRL.BMF1_NDF
16  2023-04-25          CU      7D_NDF.USD.BRL.7D_NDF
17  2023-04-25          CU             8D_NDF_USD_BRL
18  2023-04-25          CU   97D_NDF.USD.BRL.BMF4_NDF

                           Description Opening Price Trade High Trade Low  \
0               0D_NDF.USD.BRL.TOD_NDF        5.0709     5.0709   5.05605
1               0D_NDF.USD.BRL.TOM_NDF        5.0574     5.0807    5.0495
2              11D_NDF.USD.BRL.11D_NDF        5.0727    5.08465    5.0727
3            131D_NDF.USD.BRL.131D_NDF        5.1973     5.1973    5.1944
4              14D_NDF.USD.BRL.14D_NDF       5.08095    5.08095   5.08095
5            159D_NDF.USD.BRL.159D_NDF         5.226      5.226     5.226
6              15D_NDF.USD.BRL.15D_NDF       5.08265    5.08265   5.08265
7              18D_NDF.USD.BRL.18D_NDF       5.08275    5.08275   5.08275
8                1D_NDF.USD.BRL.1D_NDF         5.068      5.068     5.068
9            341D_NDF.USD.BRL.341D_NDF        5.3765     5.3765    5.3765
10             34D_NDF.USD.BRL.34D_NDF        5.0786     5.1026    5.0786
11            36D_NDF.USD.BRL.BMF2_NDF        5.0715    5.11705   5.06655
12               5D_NDF.USD.BRL.2D_NDF         5.057     5.0646     5.057
13           617D_NDF.USD.BRL.617D_NDF       5.61697    5.61697     5.578
14            69D_NDF.USD.BRL.BMF3_NDF        5.1239     5.1318    5.1239
15             6D_NDF.USD.BRL.BMF1_NDF         5.059      5.085     5.035
16               7D_NDF.USD.BRL.7D_NDF        5.0826     5.0826    5.0826
17  NDF_USD_BRL Maturing on 2023-05-03        5.0582     5.0843    5.0382
18            97D_NDF.USD.BRL.BMF4_NDF        5.1412     5.1598    5.1412

   Closing Price Num of Trades Total Notional Value        Source Class
0        5.06616             3             52000000  TULLETPREBON
1        5.06105            22           1026100000  TULLETPREBON
2        5.08465             3            100000000  TULLETPREBON
3         5.1944             3            150000000  TULLETPREBON
4        5.08095             1            200000000  TULLETPREBON
5          5.226             1             15000000  TULLETPREBON
6        5.08265             1             65000000  TULLETPREBON
7        5.08275             1             60000000  TULLETPREBON
8          5.068             1             20000000  TULLETPREBON
9         5.3765             1             15000000  TULLETPREBON
10        5.1026             4            386000000  TULLETPREBON
11        5.0958            23           1698500000  TULLETPREBON
12        5.0646             3             92000000  TULLETPREBON
13         5.578             3            155000000  TULLETPREBON
14        5.1318             2             60000000  TULLETPREBON
15        5.0618            63           3447700000  TULLETPREBON
16        5.0826             1             50000000  TULLETPREBON
17        5.0712            40             70000000  TULLETPREBON
18        5.1502             5            250000000  TULLETPREBON
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:308: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_summary = df.groupby('Class').sum()
/Users/cleiton/PycharmProjects/ndfutil/ndf/datamining.py:311: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  for number in df.groupby('Class').sum()['Total Notional Value']:
2023-05-07 15:26:35.152 | DEBUG    | ndf.datamining:tulletprebon_calcs:323 - TULLETPREBON Summary ===>
          Total for human  Num of Trades   Days  Total Notional Value
Class
BMF1                3.45B             63    6.0          3.447700e+09
BMF2                 1.7B             23   36.0          1.698500e+09
BMF3                  60M              2   69.0          6.000000e+07
BROKEN               587M             11   71.0          5.870000e+08
GT 1 YEAR            170M              4  958.0          1.700000e+08
LONGER               801M             13  421.0          8.010000e+08
MATURING              70M             40    0.0          7.000000e+07
PTAX                  52M              3    0.0          5.200000e+07
TOMPTAX             1.03B             22    0.0          1.026100e+09

DAYS:11 BMF1:6
DAYS:11 BMF2:36
DAYS:11 BMF3:69

DAYS:14 BMF1:6
DAYS:14 BMF2:36
DAYS:14 BMF3:69

DAYS:15 BMF1:6
DAYS:15 BMF2:36
DAYS:15 BMF3:69

DAYS:18 BMF1:6
DAYS:18 BMF2:36
DAYS:18 BMF3:69

DAYS:1 BMF1:6
DAYS:1 BMF2:36
DAYS:1 BMF3:69

DAYS:5 BMF1:6
DAYS:5 BMF2:36
DAYS:5 BMF3:69

DAYS:7 BMF1:6
DAYS:7 BMF2:36
DAYS:7 BMF3:69

          Total for human  Num of Trades   Days  Total Notional Value
Class
BMF1                3.45B             63    6.0          3.447700e+09
BMF2                 1.7B             23   36.0          1.698500e+09
BMF3                  60M              2   69.0          6.000000e+07
BROKEN               587M             11   71.0          5.870000e+08
GT 1 YEAR            170M              4  958.0          1.700000e+08
LONGER               801M             13  421.0          8.010000e+08
MATURING              70M             40    0.0          7.000000e+07
PTAX                  52M              3    0.0          5.200000e+07
TOMPTAX             1.03B             22    0.0          1.026100e+09

In [16]:
ndfdown = download.download()

ndfdown.download_all()

2023-05-07 15:26:35.161 | INFO     | ndf.download:_download:51 - Loaded BGC DATA from cache DATA/BGC_2023-05-07.pkl
2023-05-07 15:26:35.163 | INFO     | ndf.download:_download:51 - Loaded TRADITION DATA from cache DATA/TRADITION_2023-05-07.pkl
2023-05-07 15:26:35.164 | INFO     | ndf.download:_download:51 - Loaded TULLETPREBON DATA from cache DATA/TULLETPREBON_2023-05-07.pkl
2023-05-07 15:26:35.165 | INFO     | ndf.download:_download:51 - Loaded GFI DATA from cache DATA/GFI_2023-05-07.pkl