In [24]:
from loguru import logger

import ndf.download
from ndf import download

In [25]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [26]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

6

## Remove DEBUG

In [27]:
logger.remove()

In [28]:
logger.debug('teste debug')
logger.info('teste info')

In [29]:
# d = download.download()
# d.download_all()

In [30]:
from ndf.datamining import datamining

mining = datamining()

mining.tulletprebon_calcs('2023-04-14')

In [31]:
mining.bgc_calcs('2023-04-18', 'raw')

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-04-18,USDBRL NDF 18APR2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,207000000,GFI,BROKEN
1,2023-04-18,USDBRL NDF 28APR2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,332000000,GFI,BROKEN

In [32]:
mining.bgc_calcs('2023-04-18')

0      Total for human     Volume
Class
BROKEN            539M  539000000

In [33]:
mining.gfi_calcs('2023-04-14', 'raw')

0                     Description     Volume Source   Class
0  USDBRL NDF 14APR2023 BILATERAL  102000000    GFI  BROKEN
1  USDBRL NDF 28APR2023 BILATERAL  402000000    GFI  BROKEN
2  USDBRL NDF 31MAY2023 BILATERAL  300000000    GFI  BROKEN

In [34]:

mining.gfi_calcs('2023-04-10')

0      Total for human     Volume
Class
BROKEN            277M  277000000

In [35]:
mining.gfi_calcs()

0      Total for human     Volume
Class
BROKEN            646M  646000000

In [36]:
mining.tradition_calcs('2023-04-14')

       Total for human  Total_Trade_Count
Class
BROKEN             60M                  2

In [37]:
mining.tradition_calcs()

Empty DataFrame
Columns: [Total for human, Total_Trade_Count]
Index: []

In [38]:
mining.bgc_calcs()

0      Total for human    Volume
Class
BROKEN          98.25M  98250000

In [39]:
mining.gfi_calcs()

0      Total for human     Volume
Class
BROKEN            646M  646000000

In [40]:
from pathlib import Path
from ndf.util import get_cache_filename

Path(get_cache_filename('gfi')).is_file()

True

In [41]:


d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [42]:
mining.tradition_calcs()

Empty DataFrame
Columns: [Total for human, Total_Trade_Count]
Index: []