In [1]:
import datetime as datetime
from loguru import logger

import ndf.download
from ndf import download

In [21]:
import requests
import time

url = 'https://www.tullettprebon.com/swap-execution-facility/daily-activity-summary.aspx'
# url = 'https://www.zanno.com.br/dd'

MAX_RETRIES = 6
TIME_TO_WAIT = 10

for _ in range(MAX_RETRIES):
    r = requests.get(url)
    if r.ok:
        print('Download ok!')
        break
    else:
        wait = TIME_TO_WAIT * (_ + 1) if _ < 3 else TIME_TO_WAIT * (_*3)
        print(f'wait {wait} seconds...')
        time.sleep(wait)

Download ok!

In [23]:
'teste'.upper()

'TESTE'

In [20]:
a = None

print(bool(a))

False

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

## Remove DEBUG

In [4]:
logger.remove()

In [5]:
logger.debug('teste debug')
logger.info('teste info')

In [6]:
# d = download.download()
# d.download_all()

In [7]:
from ndf.datamining import datamining

mining = datamining()

mining.tulletprebon_calcs('2023-04-14')

In [8]:
gfi = mining.gfi_calcs('2023-04-14', 'raw')
gfi

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL
5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

                      Description     Volume Source       Class
0  USDBRL NDF 14APR2023 BILATERAL  102000000    GFI      BROKEN
1  USDBRL NDF 28APR2023 BILATERAL  402000000    GFI  BMF 5/2023
2  USDBRL NDF 31MAY2023 BILATERAL  300000000    GFI         BMF
3                             NaN  804000000    NaN       TOTAL

In [9]:
mining.gfi_calcs('2023-04-14')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL
5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

           Total for human     Volume
Class
BMF                   300M  300000000
BMF 5/2023            402M  402000000
BROKEN                102M  102000000
TOTAL                 804M  804000000

In [10]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

       Total for human     Volume
Class
BMF             426.5M  426500000
BMF2               50M   50000000
BROKEN          376.5M  376500000
TOTAL             853M  853000000

In [11]:
mining.gfi_calcs(presentation='raw')

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

                      Description     Volume Source   Class
0  USDBRL NDF 11MAY2023 BILATERAL  376500000    GFI  BROKEN
1  USDBRL NDF 31MAY2023 BILATERAL  426500000    GFI     BMF
2  USDBRL NDF 30JUN2023 BILATERAL   50000000    GFI    BMF2
3                             NaN  853000000    NaN   TOTAL

In [12]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

       Total for human     Volume
Class
BMF             426.5M  426500000
BMF2               50M   50000000
BROKEN          376.5M  376500000
TOTAL             853M  853000000

In [13]:
mining.bgc_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human     Volume
Class
BMF               480M  480000000
BROKEN            159M  159000000
TOTAL             639M  639000000

In [14]:
mining.bgc_calcs(presentation='raw')

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-11,USDBRL NDF 11MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,159000000,BGC,BROKEN
1,2023-05-11,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,480000000,BGC,BMF
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,639000000,NaN,TOTAL

In [15]:
mining.tradition_calcs()

C:\Users\souzacle\PycharmProjects\ndfutil\venv\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.traditionsef.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

      Total for human  Total_Trade_Count
Class
TOTAL               0                0.0

In [16]:
mining.tulletprebon_calcs()

C:\Users\souzacle\PycharmProjects\ndfutil\venv\lib\site-packages\scrapy\selector\unified.py:83: UserWarning: Selector got both text and root, root is being ignored.
  super().__init__(text=text, type=st, root=root, **kwargs)

          Total for human  Num of Trades    Days  Total Notional Value
Class
BMF1                1.32B           33.0    36.0          1.324400e+09
BMF2                 200M            3.0    51.0          2.000000e+08
BROKEN            700.28M           16.0    41.0          7.002796e+08
GT 1 YEAR             60M            1.0  1144.0          6.000000e+07
LONGER            196.78M            5.0   333.0          1.967796e+08
MATURING           62.75M           26.0     0.0          6.275000e+07
PTAX                51.5M            5.0     0.0          5.150000e+07
TOMPTAX               42M            2.0     0.0          4.200000e+07
TOTAL               2.64B            0.0     0.0          2.637709e+09

In [17]:
from datetime import datetime

test_date = gfi.iloc[2]['Description'].split(' ')[2]
test_date = datetime.strptime(test_date, "%d%b%Y")
test_date

datetime.datetime(2023, 5, 31, 0, 0)

In [18]:
today = datetime.today()

print(f'{today.month} == {test_date.month}')

if today.month == test_date.month:
    print('bmf1')

5 == 5
bmf1

In [19]:
type(today.month)

int

In [20]:
from ndf.util import get_last_bd

print(test_date)
print(get_last_bd(test_date))

if test_date == get_last_bd(test_date):
    print('BMF')

# datetime.strptime('2023-05-01', '%Y-%m-%d') + BMonthEnd()

2023-05-31 00:00:00
2023-05-31 00:00:00
BMF

In [21]:
from datetime import timedelta
from ndf.util import get_second_business_day
from pandas._libs.tslibs.offsets import BDay

test_date = test_date + timedelta(days=2)
get_second_business_day(test_date.strftime('%m'), test_date.strftime('%Y'))

Timestamp('2023-06-02 11:37:21.217806')

In [22]:
test_date.strftime('%m')

'06'

In [23]:

mining.gfi_calcs('2023-04-10')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL

           Total for human     Volume
Class
BMF 5/2023          163.5M  163500000
BROKEN              113.5M  113500000
TOTAL                 277M  277000000

In [24]:
mining.gfi_calcs('2023-04-10', 'raw')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL

                      Description     Volume Source       Class
0  USDBRL NDF 10APR2023 BILATERAL  113500000    GFI      BROKEN
1  USDBRL NDF 28APR2023 BILATERAL  163500000    GFI  BMF 5/2023
2                             NaN  277000000    NaN       TOTAL

In [25]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

       Total for human     Volume
Class
BMF             426.5M  426500000
BMF2               50M   50000000
BROKEN          376.5M  376500000
TOTAL             853M  853000000

In [26]:
mining.tradition_calcs('2023-04-14')

       Total for human  Total_Trade_Count
Class
BMF                30M                1.0
BROKEN             30M                1.0
TOTAL              60M                0.0

In [27]:
mining.tradition_calcs()

      Total for human  Total_Trade_Count
Class
TOTAL               0                0.0

In [28]:
mining.bgc_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human     Volume
Class
BMF               480M  480000000
BROKEN            159M  159000000
TOTAL             639M  639000000

In [29]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

       Total for human     Volume
Class
BMF             426.5M  426500000
BMF2               50M   50000000
BROKEN          376.5M  376500000
TOTAL             853M  853000000

In [30]:
from pathlib import Path
from ndf.util import get_cache_filename

Path(get_cache_filename('gfi')).is_file()

True

In [31]:


d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [32]:
mining.tradition_calcs()

      Total for human  Total_Trade_Count
Class
TOTAL               0                0.0

def get_business_day(date, business_day):
    # fazer a magica aqui
    # ...
    #...
    return datetime.strftime(resultado)

data = datetime.strptime('2023-07-04', "%Y-%m-%d")

get_business_day(data, 2)