In [1]:
from loguru import logger
import ndf.download
from ndf.datamining import datamining
import warnings
import sys

warnings.simplefilter(action='ignore', category=FutureWarning)

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

In [2]:
logger.remove()

In [3]:
from ndf.util import get_second_business_day

for month in range(1,13):
    a = get_second_business_day(month, 2023).strftime('%Y%m%d')
    print(a)

20230103
20230202
20230302
20230404
20230503
20230602
20230705
20230802
20230905
20231003
20231103
20231204

In [4]:
d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [5]:
mining = datamining()

In [6]:
tullet = mining.tulletprebon_calcs()
tullet

          Total for human  Num of Trades   Days  Total Notional Value
Class
BMF1                1.64B           24.0   20.0          1.638800e+09
BMF2                 210M            5.0   43.0          2.100000e+08
BROKEN               180M            3.0   36.0          1.800000e+08
GT 1 YEAR            560M            4.0  591.0          5.600000e+08
LONGER               710M            7.0  260.0          7.100000e+08
PTAX               103.5M            5.0    0.0          1.035000e+08
TOMPTAX               53M            2.0    0.0          5.300000e+07
TOTAL                3.5B            0.0    0.0          3.502800e+09
XP                  47.5M           28.0    0.0          4.750000e+07

In [7]:
# a = mining.tulletprebon_calcs(presentation='raw')
# a[['Batch Date', 'Class', 'Tradeable Instrument', 'Description', 'Source', 'Total for human']]

In [8]:
mining.gfi_calcs('2023-05-18')

2023-12-29 00:00:00

           Total for human      Volume
Class
BMF                701.74M   701740000
BMF 1/2024             70M    70000000
BROKEN                334M   334000000
TOTAL                1.11B  1105740000

In [9]:
mining.bgc_calcs(presentation='raw')

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
6 == 5  |  2023-06-30 00:00:00 | USDBRL NDF 30JUN2023 BILATERAL

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-19,USDBRL NDF 19MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,263500000,BGC,BROKEN
1,2023-05-19,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,350500000,BGC,BMF
2,2023-05-19,USDBRL NDF 30JUN2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,80000000,BGC,BMF2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,694000000,NaN,TOTAL

In [10]:
from ndf.util import get_BMF_date

get_BMF_date(12, 2023)

TypeError: get_BMF_date() takes from 0 to 1 positional arguments but 2 were given

In [ ]:
from datetime import datetime
from ndf.util import get_second_business_day
a = get_second_business_day(1,2020)
datetime(a.year, a.month, a.day)

In [ ]:
datetime.fromtimestamp(a).strftime('%d - %m - %y')

In [ ]:
datetime.fromtimestamp(datetime.timestamp(a))

In [ ]:
gfi = mining.gfi_calcs()
gfi

In [18]:
tradition = mining.tradition_calcs('2023-05-17')
tradition

       Total for human  Total_Trade_Count
Class
BROKEN             48M                4.0
TOTAL              48M                0.0