In [1]:
from loguru import logger
import ndf.download
from ndf.datamining import datamining
import warnings
import sys

warnings.simplefilter(action='ignore', category=FutureWarning)

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

In [2]:
logger.remove()

In [3]:
d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [4]:
mining = datamining()

In [5]:
tullet = mining.tulletprebon_calcs()
tullet

          Total for human  Num of Trades    Days  Total Notional Value
Class
BMF1                1.32B           33.0    36.0          1.324400e+09
BMF2                 200M            3.0    51.0          2.000000e+08
BROKEN            700.28M           16.0    41.0          7.002796e+08
GT 1 YEAR             60M            1.0  1144.0          6.000000e+07
LONGER            196.78M            5.0   333.0          1.967796e+08
PTAX                51.5M            5.0     0.0          5.150000e+07
TOMPTAX               42M            2.0     0.0          4.200000e+07
TOTAL               2.64B            0.0     0.0          2.637709e+09
XP                 62.75M           26.0     0.0          6.275000e+07

In [6]:
bgc = mining.bgc_calcs()
bgc

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human     Volume
Class
BMF               480M  480000000
BROKEN            159M  159000000
TOTAL             639M  639000000

In [7]:
gfi = mining.gfi_calcs()
gfi

       Total for human     Volume
Class
BMF             426.5M  426500000
BMF2               50M   50000000
BROKEN          376.5M  376500000
TOTAL             853M  853000000

In [8]:
tradition = mining.tradition_calcs()
tradition

      Total for human  Total_Trade_Count
Class
TOTAL               0                0.0