In [1]:
from loguru import logger

import ndf.download
from ndf import download

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

In [3]:
logger.remove()

In [4]:
d = ndf.download.download()
d.download_all()

/Users/cleiton/PycharmProjects/ndfutil/venv/lib/python3.9/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.traditionsef.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
/Users/cleiton/PycharmProjects/ndfutil/venv/lib/python3.9/site-packages/scrapy/selector/unified.py:83: UserWarning: Selector got both text and root, root is being ignored.
  super().__init__(text=text, type=st, root=root, **kwargs)

bgc ok
tradition ok
prebontullet ok
gfi ok

In [5]:
from ndf.datamining import datamining

mining = datamining()

In [6]:
mining.tulletprebon_calcs()

          Total for human  Num of Trades    Days  Total Notional Value
Class
BMF1                1.13B             22    44.0          1.133500e+09
BMF2               184.5M              2    55.0          1.845000e+08
BROKEN                51M              2     9.0          5.100000e+07
GT 1 YEAR            125M              2  1021.0          1.250000e+08
LONGER               656M              5   484.0          6.560000e+08
MATURING            6.25M              5     0.0          6.250000e+06
PTAX                78.5M             10     0.0          7.850000e+07
TOMPTAX              122M              9     0.0          1.220000e+08

In [7]:
bgc = mining.bgc_calcs(presentation='raw')
bgc

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-09,USDBRL NDF 09MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,129000000,GFI,BROKEN
1,2023-05-09,USDBRL NDF 15MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,25000000,GFI,BROKEN
2,2023-05-09,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,396500000,GFI,BROKEN
3,2023-05-09,USDBRL NDF 28MAR2024 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,150000000,GFI,BROKEN

In [8]:
bgc

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-09,USDBRL NDF 09MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,129000000,GFI,BROKEN
1,2023-05-09,USDBRL NDF 15MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,25000000,GFI,BROKEN
2,2023-05-09,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,396500000,GFI,BROKEN
3,2023-05-09,USDBRL NDF 28MAR2024 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,150000000,GFI,BROKEN

In [9]:
from ndf.util import *

get_BMF_date(month=7).strftime("%Y-%m-%d")

'2023-07-03'

In [10]:
from pandas._libs.tslibs.offsets import BusinessDay
import pandas as pd

a = pd.date_range('7/1/2023', '7/1/2031', freq='BMS')

a.to_pydatetime()[0]

dbase = a.to_pydatetime()[0]
dbase

datetime.datetime(2023, 7, 3, 0, 0)

In [11]:
from pandas._libs.tslibs.offsets import BDay

def get_second_business_day(month=None, year=None):
    bdate = None
    if year:
        bdate = datetime.today().replace(year=year, month=month, day=1)
    elif month and not year:
        bdate = datetime.today().replace(month=month, day=1)
    else:
        bdate = datetime.today().replace(day=1)

    # print(bdate)
    if is_weekday(bdate):
        if not is_holiday(bdate):
            bdate = bdate  + BDay(1)
        else:
            bdate = bdate  + BDay(2)
    else:
        bdate = bdate  + BDay(2)

    while is_holiday(bdate):
        bdate = bdate + BDay(1)

    return bdate

In [12]:
get_second_business_day()

Timestamp('2023-05-03 22:08:44.978184')

In [18]:
for i in range(1,13):
    a = get_second_business_day(i).strftime('%Y-%b-%d')
    print(a)

2023-Jan-03
2023-Feb-02
2023-Mar-02
2023-Apr-04
2023-May-03
2023-Jun-02
2023-Jul-05
2023-Aug-02
2023-Sep-05
2023-Oct-03
2023-Nov-03
2023-Dec-04

In [14]:
for i in range(1,13):
    a = get_second_business_day(i, 2022).strftime('%Y-%b-%d')
    print(a)

2022-Jan-04
2022-Feb-02
2022-Mar-03
2022-Apr-04
2022-May-03
2022-Jun-02
2022-Jul-05
2022-Aug-02
2022-Sep-02
2022-Oct-04
2022-Nov-03
2022-Dec-02

In [15]:
for i in range(1,13):
    a = get_second_business_day(i, 2021).strftime('%Y-%b-%d')
    print(a)

2021-Jan-05
2021-Feb-02
2021-Mar-02
2021-Apr-05
2021-May-04
2021-Jun-02
2021-Jul-02
2021-Aug-03
2021-Sep-02
2021-Oct-04
2021-Nov-03
2021-Dec-02

In [16]:
pd.Timestamp(2022, 1, 1) + pd.offsets.MonthEnd()

Timestamp('2022-01-31 00:00:00')

## Descrição das nomenclaturas

### BMF
É o segundo dia util do mes seguinte. Feriados Brasileiros OU americanos não é dia util.
Quando dizemos BMF sempre quer dizer do mes seguinte, BMF2, BMF3, BMF4... é referente aos meses subsequentes

### Fixing Date
É o dia onde o preço da operação é fixado.
Fixing Date da BMF é o ultimo dia util do mes.

### Value Date / Maturing
É o dia onde a operação pode ser executada, exemplo: "Value Date" da BMF é todo segundo dia util do mês

### PTAX
PTAX fixing de hoje que vai valer D+2

### TOMPTAX
Tomorrow PTAX

### BROKEN
Datas quebradas que nao corresponde a nenhuma das acimas

### GT 1 YEAR
Datas BROKEN acima de 1 ano

### LONGER
Datas BROKEN acima de 2 anos