In [12]:
from loguru import logger

from ndf.download import ndf

In [13]:
# logger.info("Starting service")
#
# n = ndf()
#
# n.download_all()

In [14]:
from ndf.util import get_last_business_day
from datetime import datetime

get_last_business_day(datetime(2022, 7, 5))

datetime.datetime(2022, 7, 1, 0, 0)

In [15]:
import ndf.datamining

mining = ndf.datamining.datamining()

# result = mining.tulletprebon_calcs(ndf.util.get_cache_filename('tulletprebon', '2023-04-28'))
result2 = mining.gfi_calcs(ndf.util.get_cache_filename('gfi', '2023-04-28'))

2023-05-03 19:14:27.628 | INFO     | ndf.datamining:gfi_calcs:316 - GFI calcs starting
2023-05-03 19:14:27.630 | INFO     | ndf.datamining:gfi_calcs:317 - Opening C:\Users\souzacle\PycharmProjects\ndfutil\DATA\gfi_2023-04-28.pkl
2023-05-03 19:14:27.636 | DEBUG    | ndf.datamining:gfi_calcs:343 - GFI before mining:
0                     Description      Volume
0  USDBRL NDF 27APR2023 BILATERAL   285000000
1  USDBRL NDF 28APR2023 BILATERAL  1725000000
2  USDBRL NDF 31MAY2023 BILATERAL  1440000000
3  USDBRL NDF 18DEC2023 BILATERAL    19910000
4  USDBRL NDF 18MAR2024 BILATERAL    20000000
2023-05-03 19:14:27.646 | DEBUG    | ndf.datamining:gfi_calcs:423 - GFI _summary ===>
0      Total for human      Volume
Class
BROKEN           3.49B  3489910000

USDBRL NDF 27APR2023 BILATERAL
USDBRL NDF 28APR2023 BILATERAL
USDBRL NDF 31MAY2023 BILATERAL
USDBRL NDF 18DEC2023 BILATERAL
USDBRL NDF 18MAR2024 BILATERAL
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None

In [16]:
result2

0      Total for human      Volume
Class
BROKEN           3.49B  3489910000