In [1]:
import datetime as datetime
from loguru import logger

import ndf.download
from ndf import download

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

## Remove DEBUG

In [4]:
logger.remove()

In [5]:
logger.debug('teste debug')
logger.info('teste info')

In [6]:
# d = download.download()
# d.download_all()

In [7]:
from ndf.datamining import datamining

mining = datamining()

mining.tulletprebon_calcs('2023-04-14')

In [8]:
gfi = mining.gfi_calcs('2023-04-14', 'raw')
gfi

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL
5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

                      Description     Volume Source       Class
0  USDBRL NDF 14APR2023 BILATERAL  102000000    GFI      BROKEN
1  USDBRL NDF 28APR2023 BILATERAL  402000000    GFI  BMF 5/2023
2  USDBRL NDF 31MAY2023 BILATERAL  300000000    GFI         BMF
3                             NaN  804000000    NaN       TOTAL

In [9]:
mining.gfi_calcs('2023-04-14')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL
5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

           Total for human     Volume
Class
BMF                   300M  300000000
BMF 5/2023            402M  402000000
BROKEN                102M  102000000
TOTAL                 804M  804000000

In [10]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human      Volume
Class
BMF               655M   655000000
BROKEN            707M   707000000
TOTAL            1.36B  1362000000

In [11]:
mining.gfi_calcs(presentation='raw')

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

                      Description      Volume Source   Class
0  USDBRL NDF 10MAY2023 BILATERAL   185000000    GFI  BROKEN
1  USDBRL NDF 11MAY2023 BILATERAL   222000000    GFI  BROKEN
2  USDBRL NDF 12MAY2023 BILATERAL    30000000    GFI  BROKEN
3  USDBRL NDF 16MAY2023 BILATERAL    70000000    GFI  BROKEN
4  USDBRL NDF 17MAY2023 BILATERAL    10000000    GFI  BROKEN
5  USDBRL NDF 19MAY2023 BILATERAL   120000000    GFI  BROKEN
6  USDBRL NDF 23MAY2023 BILATERAL    70000000    GFI  BROKEN
7  USDBRL NDF 31MAY2023 BILATERAL   655000000    GFI     BMF
8                             NaN  1362000000    NaN   TOTAL

In [12]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human      Volume
Class
BMF               655M   655000000
BROKEN            707M   707000000
TOTAL            1.36B  1362000000

In [13]:
mining.bgc_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
3 == 5  |  2025-03-31 00:00:00 | USDBRL NDF 31MAR2025 BILATERAL

           Total for human     Volume
Class
BMF                   338M  338000000
BMF 4/2025             20M   20000000
BROKEN                307M  307000000
TOTAL                 665M  665000000

In [14]:
mining.bgc_calcs(presentation='raw')

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
3 == 5  |  2025-03-31 00:00:00 | USDBRL NDF 31MAR2025 BILATERAL

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-10,USDBRL NDF 10MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,187000000,BGC,BROKEN
1,2023-05-10,USDBRL NDF 11MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,45000000,BGC,BROKEN
2,2023-05-10,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,338000000,BGC,BMF
3,2023-05-10,USDBRL NDF 16JUN2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,75000000,BGC,BROKEN
4,2023-05-10,USDBRL NDF 31MAR2025 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,20000000,BGC,BMF 4/2025
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665000000,NaN,TOTAL

In [15]:
mining.tradition_calcs()

       Total for human  Total_Trade_Count
Class
BMF                30M                2.0
BROKEN            135M                6.0
TOTAL             165M                0.0

In [16]:
mining.tulletprebon_calcs()

         Total for human  Num of Trades   Days  Total Notional Value
Class
BMF1               1.55B           35.0   42.0          1.548200e+09
BMF3                166M            3.0   82.0          1.660000e+08
BROKEN              207M            3.0   18.0          2.070000e+08
LONGER              750M           12.0  634.0          7.500000e+08
MATURING         124.25M           66.0    0.0          1.242500e+08
PTAX                 82M            7.0    0.0          8.200000e+07
TOMPTAX             213M           10.0    0.0          2.130000e+08
TOTAL              3.09B            0.0    0.0          3.090450e+09

In [17]:
from datetime import datetime

test_date = gfi.iloc[2]['Description'].split(' ')[2]
test_date = datetime.strptime(test_date, "%d%b%Y")
test_date

datetime.datetime(2023, 5, 31, 0, 0)

In [18]:
today = datetime.today()

print(f'{today.month} == {test_date.month}')

if today.month == test_date.month:
    print('bmf1')

5 == 5
bmf1

In [19]:
type(today.month)

int

In [20]:
from ndf.util import get_last_bd

print(test_date)
print(get_last_bd(test_date))

if test_date == get_last_bd(test_date):
    print('BMF')

# datetime.strptime('2023-05-01', '%Y-%m-%d') + BMonthEnd()

2023-05-31 00:00:00
2023-05-31 00:00:00
BMF

In [21]:
from datetime import timedelta
from ndf.util import get_second_business_day
from pandas._libs.tslibs.offsets import BDay

test_date = test_date + timedelta(days=2)
get_second_business_day(test_date.strftime('%m'), test_date.strftime('%Y'))

Timestamp('2023-06-02 12:22:29.768242')

In [22]:
test_date.strftime('%m')

'06'

In [23]:

mining.gfi_calcs('2023-04-10')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL

           Total for human     Volume
Class
BMF 5/2023          163.5M  163500000
BROKEN              113.5M  113500000
TOTAL                 277M  277000000

In [24]:
mining.gfi_calcs('2023-04-10', 'raw')

4 == 5  |  2023-04-28 00:00:00 | USDBRL NDF 28APR2023 BILATERAL

                      Description     Volume Source       Class
0  USDBRL NDF 10APR2023 BILATERAL  113500000    GFI      BROKEN
1  USDBRL NDF 28APR2023 BILATERAL  163500000    GFI  BMF 5/2023
2                             NaN  277000000    NaN       TOTAL

In [25]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human      Volume
Class
BMF               655M   655000000
BROKEN            707M   707000000
TOTAL            1.36B  1362000000

In [26]:
mining.tradition_calcs('2023-04-14')

       Total for human  Total_Trade_Count
Class
BMF                30M                1.0
BROKEN             30M                1.0
TOTAL              60M                0.0

In [27]:
mining.tradition_calcs()

       Total for human  Total_Trade_Count
Class
BMF                30M                2.0
BROKEN            135M                6.0
TOTAL             165M                0.0

In [28]:
mining.bgc_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL
3 == 5  |  2025-03-31 00:00:00 | USDBRL NDF 31MAR2025 BILATERAL

           Total for human     Volume
Class
BMF                   338M  338000000
BMF 4/2025             20M   20000000
BROKEN                307M  307000000
TOTAL                 665M  665000000

In [29]:
mining.gfi_calcs()

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

       Total for human      Volume
Class
BMF               655M   655000000
BROKEN            707M   707000000
TOTAL            1.36B  1362000000

In [30]:
from pathlib import Path
from ndf.util import get_cache_filename

Path(get_cache_filename('gfi')).is_file()

True

In [31]:


d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [32]:
mining.tradition_calcs()

       Total for human  Total_Trade_Count
Class
BMF                30M                2.0
BROKEN            135M                6.0
TOTAL             165M                0.0

def get_business_day(date, business_day):
    # fazer a magica aqui
    # ...
    #...
    return datetime.strftime(resultado)

data = datetime.strptime('2023-07-04', "%Y-%m-%d")

get_business_day(data, 2)