In [1]:
from loguru import logger

import ndf.download
from ndf import download

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import sys

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

In [3]:
logger.remove()

In [4]:
d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [5]:
from ndf.datamining import datamining

mining = datamining()

In [6]:
mining.tulletprebon_calcs()

          Total for human  Num of Trades    Days  Total Notional Value
Class
BMF1                1.32B           33.0    36.0          1.324400e+09
BMF2                 200M            3.0    51.0          2.000000e+08
BROKEN            700.28M           16.0    41.0          7.002796e+08
GT 1 YEAR             60M            1.0  1144.0          6.000000e+07
LONGER            196.78M            5.0   333.0          1.967796e+08
PTAX                51.5M            5.0     0.0          5.150000e+07
TOMPTAX               42M            2.0     0.0          4.200000e+07
TOTAL               2.64B            0.0     0.0          2.637709e+09
XP                 62.75M           26.0     0.0          6.275000e+07

In [7]:
mining.tulletprebon_calcs(presentation='raw')

,Batch Date,Asset Class,Class,Tradeable Instrument,Description,Opening Price,Trade High,Trade Low,Closing Price,Num of Trades,Total Notional Value,Source,Days,Total for human
0,2023-05-11,CU,PTAX,0D_NDF.USD.BRL.TOD_NDF,0D_NDF.USD.BRL.TOD_NDF,4.98140,4.98140,4.94230,4.95470,5.0,5.150000e+07,TULLETPREBON,0.0,51.5M
1,2023-05-11,CU,TOMPTAX,0D_NDF.USD.BRL.TOM_NDF,0D_NDF.USD.BRL.TOM_NDF,4.93600,4.93600,4.93550,4.93550,2.0,4.200000e+07,TULLETPREBON,0.0,42M
2,2023-05-11,CU,GT 1 YEAR,1144D_NDF.USD.BRL.1144D_NDF,1144D_NDF.USD.BRL.1144D_NDF,6.05355,6.05355,6.05355,6.05355,1.0,6.000000e+07,TULLETPREBON,1144.0,60M
3,2023-05-11,CU,BROKEN,17D_NDF.USD.BRL.17D_NDF,17D_NDF.USD.BRL.17D_NDF,4.95460,4.95460,4.95455,4.95460,4.0,1.050000e+08,TULLETPREBON,17.0,105M
4,2023-05-11,CU,BMF1,18D_NDF.USD.BRL.18D_NDF,18D_NDF.USD.BRL.18D_NDF,4.97000,4.97100,4.95500,4.95600,9.0,5.275000e+08,TULLETPREBON,18.0,527.5M
5,2023-05-11,CU,BMF1,18D_NDF.USD.BRL.BMF1_NDF,18D_NDF.USD.BRL.BMF1_NDF,4.97900,5.00050,4.00050,4.95400,24.0,7.969000e+08,TULLETPREBON,18.0,796.9M
6,2023-05-11,CU,XP,22D_NDF_USD_BRL,NDF_USD_BRL Maturing on 2023-06-02,4.99640,4.99950,4.95640,4.96100,26.0,6.275000e+07,TULLETPREBON,0.0,62.75M
7,2023-05-11,CU,LONGER,233D_NDF.USD.BRL.233D_NDF,233D_NDF.USD.BRL.233D_NDF,5.15340,5.15340,5.15340,5.15340,1.0,5.000000e+07,TULLETPREBON,233.0,50M
8,2023-05-11,CU,BROKEN,2D_NDF.USD.BRL.2D_NDF,2D_NDF.USD.BRL.2D_NDF,4.95330,4.95430,4.93720,4.93720,6.0,2.270000e+08,TULLETPREBON,2.0,227M
9,2023-05-11,CU,LONGER,37D_NDF.USD.BRL.IMM1_NDF,37D_NDF.USD.BRL.IMM1_NDF,4.96155,4.98860,4.96155,4.98855,3.0,9.600000e+07,TULLETPREBON,37.0,96M
10,2023-05-11,CU,BROKEN,3D_NDF.USD.BRL.3D_NDF,3D_NDF.USD.BRL.3D_NDF,4.95500,4.95500,4.95500,4.95500,2.0,4.000000e+07,TULLETPREBON,3.0,40M
11,2023-05-11,CU,BROKEN,4D_NDF.USD.BRL.4D_NDF,4D_NDF.USD.BRL.4D_NDF,4.95665,4.95665,4.94170,4.94170,2.0,2.575000e+08,TULLETPREBON,4.0,257.5M
12,2023-05-11,CU,BMF2,51D_NDF.USD.BRL.BMF2_NDF,51D_NDF.USD.BRL.BMF2_NDF,4.02905,5.02905,4.02905,5.02145,3.0,2.000000e+08,TULLETPREBON,51.0,200M
13,2023-05-11,CU,LONGER,63D_NDF.USD.BRL.63D_NDF,63D_NDF.USD.BRL.63D_NDF,5.02170,5.02170,5.02170,5.02170,1.0,5.077962e+07,TULLETPREBON,63.0,50.78M
14,2023-05-11,CU,BROKEN,7D_NDF.USD.BRL.7D_NDF,7D_NDF.USD.BRL.7D_NDF,4.95650,4.95650,4.95650,4.95650,1.0,2.000000e+07,TULLETPREBON,7.0,20M
15,2023-05-11,CU,BROKEN,8D_NDF.USD.BRL.8D_NDF,8D_NDF.USD.BRL.8D_NDF,4.97100,4.97100,4.97100,4.97100,1.0,5.077962e+07,TULLETPREBON,8.0,50.78M
16,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.637709e+09,NaN,NaN,2.64B

In [8]:
bgc = mining.bgc_calcs(presentation='raw')
bgc

5 == 5  |  2023-05-31 00:00:00 | USDBRL NDF 31MAY2023 BILATERAL

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-11,USDBRL NDF 11MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,159000000,BGC,BROKEN
1,2023-05-11,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,480000000,BGC,BMF
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,639000000,NaN,TOTAL

In [9]:
bgc

,Trade Date,Description,OpenType,LowType,HighType,CloseType,EDRPVolume,Volume,Source,Class
0,2023-05-11,USDBRL NDF 11MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,159000000,BGC,BROKEN
1,2023-05-11,USDBRL NDF 31MAY2023 BILATERAL,TRANS,TRANS,TRANS,TRANS,NaN,480000000,BGC,BMF
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,639000000,NaN,TOTAL

In [10]:
from ndf.util import *

get_BMF_date(month=7).strftime("%Y-%m-%d")

'2023-07-03'

In [11]:
from pandas._libs.tslibs.offsets import BusinessDay
import pandas as pd

a = pd.date_range('7/1/2023', '7/1/2031', freq='BMS')

a.to_pydatetime()[0]

dbase = a.to_pydatetime()[0]
dbase

datetime.datetime(2023, 7, 3, 0, 0)

In [12]:
from pandas._libs.tslibs.offsets import BDay

def get_second_business_day(month=None, year=None):
    bdate = None
    if year:
        bdate = datetime.today().replace(year=year, month=month, day=1)
    elif month and not year:
        bdate = datetime.today().replace(month=month, day=1)
    else:
        bdate = datetime.today().replace(day=1)

    # print(bdate)
    if is_weekday(bdate):
        if not is_holiday(bdate):
            bdate = bdate  + BDay(1)
        else:
            bdate = bdate  + BDay(2)
    else:
        bdate = bdate  + BDay(2)

    while is_holiday(bdate):
        bdate = bdate + BDay(1)

    return bdate

In [13]:
get_second_business_day()

Timestamp('2023-05-03 12:04:52.868860')

In [14]:
for i in range(1,13):
    a = get_second_business_day(i).strftime('%Y-%b-%d')
    print(a)

2023-Jan-03
2023-Feb-02
2023-Mar-02
2023-Apr-04
2023-May-03
2023-Jun-02
2023-Jul-05
2023-Aug-02
2023-Sep-05
2023-Oct-03
2023-Nov-03
2023-Dec-04

In [15]:
for i in range(1,13):
    a = get_second_business_day(i, 2022).strftime('%Y-%b-%d')
    print(a)

2022-Jan-04
2022-Feb-02
2022-Mar-03
2022-Apr-04
2022-May-03
2022-Jun-02
2022-Jul-05
2022-Aug-02
2022-Sep-02
2022-Oct-04
2022-Nov-03
2022-Dec-02

In [16]:
for i in range(1,13):
    a = get_second_business_day(i, 2021).strftime('%Y-%b-%d')
    print(a)

2021-Jan-05
2021-Feb-02
2021-Mar-02
2021-Apr-05
2021-May-04
2021-Jun-02
2021-Jul-02
2021-Aug-03
2021-Sep-02
2021-Oct-04
2021-Nov-03
2021-Dec-02

In [17]:
pd.Timestamp(2022, 1, 1) + pd.offsets.MonthEnd()

Timestamp('2022-01-31 00:00:00')

## Descrição das nomenclaturas

### BMF
É o segundo dia util do mes seguinte. Feriados Brasileiros OU americanos não é dia util.
Quando dizemos BMF sempre quer dizer do mes seguinte, BMF2, BMF3, BMF4... é referente aos meses subsequentes

### Fixing Date
É o dia onde o preço da operação é fixado.
Fixing Date da BMF é o ultimo dia util do mes.

### Value Date / Maturing
É o dia onde a operação pode ser executada, exemplo: "Value Date" da BMF é todo segundo dia util do mês

### PTAX
PTAX fixing de hoje que vai valer D+2

### TOMPTAX
Tomorrow PTAX

### BROKEN
Datas quebradas que nao corresponde a nenhuma das acimas

### GT 1 YEAR
Datas BROKEN acima de 1 ano

### LONGER
Datas BROKEN acima de 2 anos