In [1]:
from loguru import logger

from ndf.download import ndf

In [2]:
# logger.info("Starting service")
#
# n = ndf()
#
# n.download_all()

In [3]:
from ndf.util import get_last_business_day
from datetime import datetime

get_last_business_day(datetime(2022, 7, 5))

datetime.datetime(2022, 7, 1, 0, 0)

In [4]:
import ndf.datamining

mining = ndf.datamining.datamining()

# result = mining.tulletprebon_calcs(ndf.util.get_cache_filename('tulletprebon', '2023-04-28'))
result2 = mining.gfi_calcs(ndf.util.get_cache_filename('GFI', '2023-04-28'))
# result2 = mining.gfi_calcs('/Users/cleiton/PycharmProjects/ndfutil/DATA/GFI_2023-04-28.pkl')

2023-05-03 21:39:06.258 | INFO     | ndf.datamining:gfi_calcs:316 - GFI calcs starting
2023-05-03 21:39:06.259 | INFO     | ndf.datamining:gfi_calcs:317 - Opening /Users/cleiton/PycharmProjects/ndfutil/DATA/GFI_2023-04-28.pkl
2023-05-03 21:39:06.265 | DEBUG    | ndf.datamining:gfi_calcs:343 - GFI before mining:
0                     Description      Volume
0  USDBRL NDF 27APR2023 BILATERAL   285000000
1  USDBRL NDF 28APR2023 BILATERAL  1725000000
2  USDBRL NDF 31MAY2023 BILATERAL  1440000000
3  USDBRL NDF 18DEC2023 BILATERAL    19910000
4  USDBRL NDF 18MAR2024 BILATERAL    20000000
2023-05-03 21:39:06.271 | DEBUG    | ndf.datamining:gfi_calcs:423 - GFI _summary ===>
0      Total for human      Volume
Class
BROKEN           3.49B  3489910000

USDBRL NDF 27APR2023 BILATERAL
USDBRL NDF 28APR2023 BILATERAL
USDBRL NDF 31MAY2023 BILATERAL
USDBRL NDF 18DEC2023 BILATERAL
USDBRL NDF 18MAR2024 BILATERAL
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None
CLASS:  None

In [5]:
result2

0      Total for human      Volume
Class
BROKEN           3.49B  3489910000