In [1]:
from loguru import logger
import ndf.download
from ndf.datamining import datamining
import warnings
import sys

warnings.simplefilter(action='ignore', category=FutureWarning)

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

2

In [2]:
from datetime import datetime

a = datetime.now()
a.date()

datetime.date(2023, 5, 29)

In [3]:
logger.remove()

In [4]:
d = ndf.download.download()
d.download_all()

bgc ok
tradition ok
prebontullet ok
gfi ok

In [5]:
mining = datamining()

In [6]:
mining.tulletprebon_calcs()

          Total for human      Volume
Class
BMF1                3.75B  3752800000
BMF2                 874M   874000000
BMF3                 470M   470000000
BROKEN              1.26B  1258000000
GT 1 YEAR             25M    25000000
LONGER               710M   710000000
PTAX               356.5M   356500000
TOMPTAX               20M    20000000
TOTAL               7.69B  7691550000
XP                225.25M   225250000

In [7]:
mining.bgc_calcs()

       Total for human      Volume
Class
BMF               1.3B  1295000000
BMF2            372.5M   372500000
BMF4               50M    50000000
BROKEN          346.5M   346500000
TOTAL            2.06B  2064000000

In [8]:
mining.tradition_calcs()

       Total for human    Volume
Class
BROKEN             52M  52000000
TOTAL              52M  52000000

In [9]:
mining.gfi_calcs()

       Total for human      Volume
Class
BMF              1.29B  1293000000
BMF2              725M   725000000
BROKEN            570M   570000000
TOTAL            2.59B  2588000000