In [35]:
from loguru import logger
import ndf.download
from ndf.datamining import datamining
import warnings
import sys
import pandas as pd

from babel.numbers import format_currency

warnings.simplefilter(action='ignore', category=FutureWarning)

log_level = 'ERROR'
logger.add(sys.stderr, format="{time} {level} {message}", filter="my_module", level=log_level)
# logger.add(sys.stdout, colorize=True, format="<green>{time}</green> <level>{message}</level>")
logger.add("ndfdownload.log", rotation="30 MB", level=log_level)

6

In [36]:
from datetime import datetime

a = datetime.now()
a.date()

datetime.date(2024, 4, 11)

In [37]:
# logger.remove()

In [38]:
d = ndf.download.download()
d.download_all()

2024-04-11 14:47:09.495 | INFO     | ndf.download:_download:55 - BGC - Download start >>>
2024-04-11 14:47:09.496 | DEBUG    | ndf.download:_download:58 - Try download bgc from http://dailyactprod.bgcsef.com/SEF/DailyAct/DailyAct_20240410.xls
2024-04-11 14:47:09.509 | INFO     | ndf.download:_download:80 - Loaded bgc DATA from cache C:\Users\souzacle\PycharmProjects\ndfutil\DATA\bgc_2024-04-11.pkl
2024-04-11 14:47:09.510 | INFO     | ndf.download:_download:55 - TRADITION - Download start >>>
2024-04-11 14:47:09.512 | DEBUG    | ndf.download:_download:58 - Try download tradition from https://www.traditionsef.com/dailyactivity/SEF16_MKTDATA_TFSU_20240410.csv
2024-04-11 14:47:09.527 | INFO     | ndf.download:_download:80 - Loaded tradition DATA from cache C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tradition_2024-04-11.pkl
2024-04-11 14:47:09.529 | INFO     | ndf.download:_download:55 - TULLETPREBON - Download start >>>
2024-04-11 14:47:09.539 | DEBUG    | ndf.download:_download:58 - Try download tulletprebon from https://www.tullettprebon.com/swap-execution-facility/daily-activity-summary.aspx
2024-04-11 14:47:09.543 | INFO     | ndf.download:_download:80 - Loaded tulletprebon DATA from cache C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tulletprebon_2024-04-11.pkl
2024-04-11 14:47:09.545 | INFO     | ndf.download:_download:55 - GFI - Download start >>>
2024-04-11 14:47:09.554 | DEBUG    | ndf.download:_download:58 - Try download gfi from http://www.gfigroup.com/doc/sef/marketdata/2024-04-10_daily_trade_data.xls
2024-04-11 14:47:09.559 | INFO     | ndf.download:_download:80 - Loaded gfi DATA from cache C:\Users\souzacle\PycharmProjects\ndfutil\DATA\gfi_2024-04-11.pkl

bgc ok
tradition ok
prebontullet ok
gfi ok

In [39]:
cutil = ndf.util
cachefile_with_path = cutil.get_cache_filename('tradition', date=None).replace('.pkl', '.csv')
print(cachefile_with_path)

C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tradition_2024-04-11.csv

In [40]:
read_file = pd.read_csv(cachefile_with_path, sep='|', header=None)
read_file

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,SEF_DCM_Name,SEF_DCM_LEI,Trade_Date,Effective_Date,Internal_Prod_ID,Internal_Prod_Des,Asset_Class,Base_Prod,Sub_Prod,Tran_Type,...,Notional_Traded_Currency_NDA,Total_Notional_USD_DA,Cleared_Notional_USD_DA,Un_Cleared_Notional_USD_DA,Total_Notional_USD_NDA,Cleared_Notional_USD_NDA,Un_Cleared_Notional_USD_NDA,Total_Trade_Count,Cleared_Trade_Count,Un_Cleared_Trade_Count
1,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240411,2I65BRAB2_5Y_DS10,HY42 V1 5Y CD,CD,INDX,CDX,CDXHY,...,15000000,15000000,15000000,0,15000000,15000000,0,1,1,0
2,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240411,5Y_CS_INDXTR_CDX_THY_S41_V2,5 Year CDS Index Tranche - Markit CDX NA HY S-...,CD,INDXTR,CDX,CDXTHY,...,50000000,50000000,0,50000000,50000000,0,50000000,1,0,1
3,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240411,2I65BYEE1_5Y_DS10,IG42 V1 5Y CD,CD,INDX,CDX,CDXIG,...,75000000,75000000,75000000,0,75000000,75000000,0,1,1,0
4,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240411,2I65BRAB1_5Y_DS10,HY41 V2 5Y CD,CD,INDX,CDX,CDXHY,...,16500000,16500000,16500000,0,16500000,16500000,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240410,5Y_IRS_3M-3M-3M_JIBAR_LCH,5 Year Interest Rate Swap - 3 Month JIBAR for ZAR,IR,S,FF,3M_ACT/365.FIXED_vs_3M_3M_ACT/365.FIXED,...,230000000,12241060,12241060,0,12241060,12241060,0,1,1,0
351,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20240410,10Y_IRS_3M-3M-3M_JIBAR_LCH,10 Year Interest Rate Swap - 3 Month JIBAR for...,IR,S,FF,3M_ACT/365.FIXED_vs_3M_3M_ACT/365.FIXED,...,145000000,7717190,7717190,0,7717190,7717190,0,1,1,0
352,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20241015,6M-5Y_SWN_STRDL_4-145_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,50000000,50000000,0,50000000,50000000,0,50000000,1,0,1
353,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20241015,6M-5Y_SWN_STRDL_4-1475_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,275000000,275000000,0,275000000,275000000,0,275000000,2,0,2
354,Tradition SEF Inc.,549300MBO45EHETL4438,20240410,20241015,6M-5Y_SWN_STRDL_4-21_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,100000000,100000000,0,100000000,100000000,0,100000000,2,0,2

In [41]:
read_file.columns = read_file.iloc[0]
read_file = read_file[1:]

In [42]:
read_file['Trade_Date'] = pd.to_datetime(read_file['Trade_Date'], format='%Y-%m-%d')
read_file['Effective_Date'] = pd.to_datetime(read_file['Effective_Date'], format='%Y-%m-%d')
read_file

C:\Users\souzacle\AppData\Local\Temp\ipykernel_30628\2704031068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  read_file['Trade_Date'] = pd.to_datetime(read_file['Trade_Date'], format='%Y-%m-%d')
C:\Users\souzacle\AppData\Local\Temp\ipykernel_30628\2704031068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  read_file['Effective_Date'] = pd.to_datetime(read_file['Effective_Date'], format='%Y-%m-%d')

,SEF_DCM_Name,SEF_DCM_LEI,Trade_Date,Effective_Date,Internal_Prod_ID,Internal_Prod_Des,Asset_Class,Base_Prod,Sub_Prod,Tran_Type,...,Notional_Traded_Currency_NDA,Total_Notional_USD_DA,Cleared_Notional_USD_DA,Un_Cleared_Notional_USD_DA,Total_Notional_USD_NDA,Cleared_Notional_USD_NDA,Un_Cleared_Notional_USD_NDA,Total_Trade_Count,Cleared_Trade_Count,Un_Cleared_Trade_Count
1,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-11,2I65BRAB2_5Y_DS10,HY42 V1 5Y CD,CD,INDX,CDX,CDXHY,...,15000000,15000000,15000000,0,15000000,15000000,0,1,1,0
2,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-11,5Y_CS_INDXTR_CDX_THY_S41_V2,5 Year CDS Index Tranche - Markit CDX NA HY S-...,CD,INDXTR,CDX,CDXTHY,...,50000000,50000000,0,50000000,50000000,0,50000000,1,0,1
3,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-11,2I65BYEE1_5Y_DS10,IG42 V1 5Y CD,CD,INDX,CDX,CDXIG,...,75000000,75000000,75000000,0,75000000,75000000,0,1,1,0
4,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-11,2I65BRAB1_5Y_DS10,HY41 V2 5Y CD,CD,INDX,CDX,CDXHY,...,16500000,16500000,16500000,0,16500000,16500000,0,1,1,0
5,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-10,771004,6M EUR vs. USD Put at a delta of 50,FX,O,NaN,EURUSD,...,65000000,3491474940,0,3491474940,69829504,0,69829504,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-10,5Y_IRS_3M-3M-3M_JIBAR_LCH,5 Year Interest Rate Swap - 3 Month JIBAR for ZAR,IR,S,FF,3M_ACT/365.FIXED_vs_3M_3M_ACT/365.FIXED,...,230000000,12241060,12241060,0,12241060,12241060,0,1,1,0
351,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-04-10,10Y_IRS_3M-3M-3M_JIBAR_LCH,10 Year Interest Rate Swap - 3 Month JIBAR for...,IR,S,FF,3M_ACT/365.FIXED_vs_3M_3M_ACT/365.FIXED,...,145000000,7717190,7717190,0,7717190,7717190,0,1,1,0
352,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-10-15,6M-5Y_SWN_STRDL_4-145_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,50000000,50000000,0,50000000,50000000,0,50000000,1,0,1
353,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-10-15,6M-5Y_SWN_STRDL_4-1475_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,275000000,275000000,0,275000000,275000000,0,275000000,2,0,2
354,Tradition SEF Inc.,549300MBO45EHETL4438,2024-04-10,2024-10-15,6M-5Y_SWN_STRDL_4-21_1Y-1Y-1Y_USDSOFR,Option is Straddle of 6 Month by 5 Year with S...,IR,O,SWO,1Y_ACT/360_vs_1Y_1Y_ACT/360,...,100000000,100000000,0,100000000,100000000,0,100000000,2,0,2

In [43]:
column_list = read_file.columns.tolist()

column_list

['SEF_DCM_Name',
 'SEF_DCM_LEI',
 'Trade_Date',
 'Effective_Date',
 'Internal_Prod_ID',
 'Internal_Prod_Des',
 'Asset_Class',
 'Base_Prod',
 'Sub_Prod',
 'Tran_Type',
 'Contract_Type',
 'Curr_Code',
 'Setl_Method',
 'UPI',
 'Block_Flag',
 'Option_Flag',
 'DCO_Name',
 'DCO_LEI',
 'Premium_Volatility_Other_Flag',
 'First_Price',
 'High_Price',
 'Low_Price',
 'Last_Price',
 'Traded_Currency',
 'Notional_Traded_Currency_DA',
 'Notional_Traded_Currency_NDA',
 'Total_Notional_USD_DA',
 'Cleared_Notional_USD_DA',
 'Un_Cleared_Notional_USD_DA',
 'Total_Notional_USD_NDA',
 'Cleared_Notional_USD_NDA',
 'Un_Cleared_Notional_USD_NDA',
 'Total_Trade_Count',
 'Cleared_Trade_Count',
 'Un_Cleared_Trade_Count']

In [44]:
collumns = ['First_Price',
 'High_Price',
 'Low_Price',
 'Last_Price',
 'Notional_Traded_Currency_DA',
 'Notional_Traded_Currency_NDA',
 'Total_Notional_USD_DA',
 'Cleared_Notional_USD_DA',
 'Un_Cleared_Notional_USD_DA',
 'Total_Notional_USD_NDA',
 'Cleared_Notional_USD_NDA',
 'Un_Cleared_Notional_USD_NDA'
]

for vcollumn in collumns:
    print(vcollumn.upper())
    try:
        read_file[vcollumn] = read_file[vcollumn].apply(lambda x: format_currency(x, currency="USD",  decimal_quantization=False, locale="en_US", ))
    except:
        pass

FIRST_PRICE
HIGH_PRICE
LOW_PRICE
LAST_PRICE

C:\Users\souzacle\AppData\Local\Temp\ipykernel_30628\3630424379.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  read_file[vcollumn] = read_file[vcollumn].apply(lambda x: format_currency(x, currency="USD",  decimal_quantization=False, locale="en_US", ))

NOTIONAL_TRADED_CURRENCY_DA
NOTIONAL_TRADED_CURRENCY_NDA
TOTAL_NOTIONAL_USD_DA
CLEARED_NOTIONAL_USD_DA
UN_CLEARED_NOTIONAL_USD_DA
TOTAL_NOTIONAL_USD_NDA
CLEARED_NOTIONAL_USD_NDA
UN_CLEARED_NOTIONAL_USD_NDA

In [45]:

write_to = cachefile_with_path.replace('.csv', '.xlsx')
read_file.to_excel(write_to, index=False, header=True)
print(write_to)

C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tradition_2024-04-11.xlsx

In [46]:
mining = datamining()

In [47]:
mining.tulletprebon_calcs()

2024-04-11 14:47:13.532 | INFO     | ndf.datamining:tulletprebon_calcs:177 - tulletprebon calcs starting
2024-04-11 14:47:13.534 | DEBUG    | ndf.datamining:tulletprebon_calcs:179 - Opening CACHE FILE C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tulletprebon_2024-04-11.pkl
2024-04-11 14:47:13.568 | DEBUG    | ndf.datamining:tulletprebon_calcs:198 - tullet before mining:
    Batch Date Asset Class       Tradeable Instrument  \
0   2024-04-10          CU     0D_NDF.USD.BRL.TOD_NDF
1   2024-04-10          CU     0D_NDF.USD.BRL.TOM_NDF
2   2024-04-10          CU    10D_NDF.USD.BRL.10D_NDF
3   2024-04-10          CU  159D_NDF.USD.BRL.IMM2_NDF
4   2024-04-10          CU    20D_NDF.USD.BRL.20D_NDF
5   2024-04-10          CU    21D_NDF.USD.BRL.21D_NDF
6   2024-04-10          CU   21D_NDF.USD.BRL.BMF1_NDF
7   2024-04-10          CU            23D_NDF_USD_BRL
8   2024-04-10          CU    26D_NDF.USD.BRL.26D_NDF
9   2024-04-10          CU    28D_NDF.USD.BRL.28D_NDF
10  2024-04-10          CU             2D_NDF_USD_BRL
11  2024-04-10          CU           369D_NDF_USD_BRL
12  2024-04-10          CU            40D_NDF_USD_BRL
13  2024-04-10          CU   53D_NDF.USD.BRL.BMF2_NDF
14  2024-04-10          CU      5D_NDF.USD.BRL.5D_NDF
15  2024-04-10          CU   69D_NDF.USD.BRL.IMM1_NDF
16  2024-04-10          CU             6D_NDF_USD_BRL
17  2024-04-10          CU      7D_NDF.USD.BRL.7D_NDF
18  2024-04-10          CU   81D_NDF.USD.BRL.BMF3_NDF

                           Description Opening Price Trade High Trade Low  \
0               0D_NDF.USD.BRL.TOD_NDF        5.0022     5.0032    5.0022
1               0D_NDF.USD.BRL.TOM_NDF         5.073     5.0809     5.073
2              10D_NDF.USD.BRL.10D_NDF        5.0769     5.0769    5.0769
3            159D_NDF.USD.BRL.IMM2_NDF        5.1312     5.1312    5.1307
4              20D_NDF.USD.BRL.20D_NDF       5.08615    5.08615   5.08415
5              21D_NDF.USD.BRL.21D_NDF         5.087      5.088     5.085
6             21D_NDF.USD.BRL.BMF1_NDF         5.011      5.091     5.011
7   NDF_USD_BRL Maturing on 2024-05-03         5.011     5.0903     5.011
8              26D_NDF.USD.BRL.26D_NDF        5.0865     5.0865    5.0865
9              28D_NDF.USD.BRL.28D_NDF       5.09065    5.09065   5.09065
10  NDF_USD_BRL Maturing on 2024-04-12       5.00225    5.03715   5.00225
11  NDF_USD_BRL Maturing on 2025-04-14        5.2475     5.2475    5.2475
12  NDF_USD_BRL Maturing on 2024-05-20         5.085      5.085     5.085
13            53D_NDF.USD.BRL.BMF2_NDF        5.0964     5.0964    5.0964
14               5D_NDF.USD.BRL.5D_NDF        5.0634      5.081    5.0634
15            69D_NDF.USD.BRL.IMM1_NDF         5.091      5.091    5.0905
16  NDF_USD_BRL Maturing on 2024-04-16          5.08       5.08     5.078
17               7D_NDF.USD.BRL.7D_NDF        5.0756     5.0756    5.0747
18            81D_NDF.USD.BRL.BMF3_NDF        5.1141     5.1141    5.1141

   Closing Price Num of Trades Total Notional Value        Source Class
0         5.0032             3             74000000  TULLETPREBON
1         5.0809             7            269000000  TULLETPREBON
2         5.0769             1             18000000  TULLETPREBON
3         5.1307             2             54000000  TULLETPREBON
4        5.08415             5            170000000  TULLETPREBON
5          5.085             6            330000000  TULLETPREBON
6          5.085            31           1209500000  TULLETPREBON
7         5.0893            49            263250000  TULLETPREBON
8         5.0865             1             50000000  TULLETPREBON
9        5.09065             3            200000000  TULLETPREBON
10       5.03595             7            148000000  TULLETPREBON
11        5.2475             1              1450000  TULLETPREBON
12         5.085             6             22000000  TULLETPREBON
13        5.0964             1             35000000  TULLETPREBON
14        5.0802             4            269000000  TULLETPREBON
15        5.0905             2             54000000  TULLETPREBON
16         5.079             4             30450000  TULLETPREBON
17        5.0747             5            370800000  TULLETPREBON
18        5.1141             1             35000000  TULLETPREBON
2024-04-11 14:47:13.570 | DEBUG    | ndf.datamining:tulletprebon_calcs:203 -     Batch Date Asset Class       Tradeable Instrument  \
0   2024-04-10          CU     0D_NDF.USD.BRL.TOD_NDF
1   2024-04-10          CU     0D_NDF.USD.BRL.TOM_NDF
2   2024-04-10          CU    10D_NDF.USD.BRL.10D_NDF
3   2024-04-10          CU  159D_NDF.USD.BRL.IMM2_NDF
4   2024-04-10          CU    20D_NDF.USD.BRL.20D_NDF
5   2024-04-10          CU    21D_NDF.USD.BRL.21D_NDF
6   2024-04-10          CU   21D_NDF.USD.BRL.BMF1_NDF
7   2024-04-10          CU            23D_NDF_USD_BRL
8   2024-04-10          CU    26D_NDF.USD.BRL.26D_NDF
9   2024-04-10          CU    28D_NDF.USD.BRL.28D_NDF
10  2024-04-10          CU             2D_NDF_USD_BRL
11  2024-04-10          CU           369D_NDF_USD_BRL
12  2024-04-10          CU            40D_NDF_USD_BRL
13  2024-04-10          CU   53D_NDF.USD.BRL.BMF2_NDF
14  2024-04-10          CU      5D_NDF.USD.BRL.5D_NDF
15  2024-04-10          CU   69D_NDF.USD.BRL.IMM1_NDF
16  2024-04-10          CU             6D_NDF_USD_BRL
17  2024-04-10          CU      7D_NDF.USD.BRL.7D_NDF
18  2024-04-10          CU   81D_NDF.USD.BRL.BMF3_NDF

                           Description Opening Price Trade High Trade Low  \
0               0D_NDF.USD.BRL.TOD_NDF        5.0022     5.0032    5.0022
1               0D_NDF.USD.BRL.TOM_NDF         5.073     5.0809     5.073
2              10D_NDF.USD.BRL.10D_NDF        5.0769     5.0769    5.0769
3            159D_NDF.USD.BRL.IMM2_NDF        5.1312     5.1312    5.1307
4              20D_NDF.USD.BRL.20D_NDF       5.08615    5.08615   5.08415
5              21D_NDF.USD.BRL.21D_NDF         5.087      5.088     5.085
6             21D_NDF.USD.BRL.BMF1_NDF         5.011      5.091     5.011
7   NDF_USD_BRL Maturing on 2024-05-03         5.011     5.0903     5.011
8              26D_NDF.USD.BRL.26D_NDF        5.0865     5.0865    5.0865
9              28D_NDF.USD.BRL.28D_NDF       5.09065    5.09065   5.09065
10  NDF_USD_BRL Maturing on 2024-04-12       5.00225    5.03715   5.00225
11  NDF_USD_BRL Maturing on 2025-04-14        5.2475     5.2475    5.2475
12  NDF_USD_BRL Maturing on 2024-05-20         5.085      5.085     5.085
13            53D_NDF.USD.BRL.BMF2_NDF        5.0964     5.0964    5.0964
14               5D_NDF.USD.BRL.5D_NDF        5.0634      5.081    5.0634
15            69D_NDF.USD.BRL.IMM1_NDF         5.091      5.091    5.0905
16  NDF_USD_BRL Maturing on 2024-04-16          5.08       5.08     5.078
17               7D_NDF.USD.BRL.7D_NDF        5.0756     5.0756    5.0747
18            81D_NDF.USD.BRL.BMF3_NDF        5.1141     5.1141    5.1141

   Closing Price Num of Trades Total Notional Value        Source Class
0         5.0032             3             74000000  TULLETPREBON
1         5.0809             7            269000000  TULLETPREBON
2         5.0769             1             18000000  TULLETPREBON
3         5.1307             2             54000000  TULLETPREBON
4        5.08415             5            170000000  TULLETPREBON
5          5.085             6            330000000  TULLETPREBON
6          5.085            31           1209500000  TULLETPREBON
7         5.0893            49            263250000  TULLETPREBON
8         5.0865             1             50000000  TULLETPREBON
9        5.09065             3            200000000  TULLETPREBON
10       5.03595             7            148000000  TULLETPREBON
11        5.2475             1              1450000  TULLETPREBON
12         5.085             6             22000000  TULLETPREBON
13        5.0964             1             35000000  TULLETPREBON
14        5.0802             4            269000000  TULLETPREBON
15        5.0905             2             54000000  TULLETPREBON
16         5.079             4             30450000  TULLETPREBON
17        5.0747             5            370800000  TULLETPREBON
18        5.1141             1             35000000  TULLETPREBON
2024-04-11 14:47:13.651 | DEBUG    | ndf.datamining:tulletprebon_calcs:357 - TULLETPREBON Summary ===>
        Total for human        Volume
Class
BMF1              1.54B  1.539500e+09
BMF2                35M  3.500000e+07
BMF3                35M  3.500000e+07
BROKEN            1.08B  1.077800e+09
LONGER             108M  1.080000e+08
PTAX                74M  7.400000e+07
TOMPTAX            269M  2.690000e+08
TOTAL              3.6B  3.603450e+09
XP              465.15M  4.651500e+08

        Total for human        Volume
Class
BMF1              1.54B  1.539500e+09
BMF2                35M  3.500000e+07
BMF3                35M  3.500000e+07
BROKEN            1.08B  1.077800e+09
LONGER             108M  1.080000e+08
PTAX                74M  7.400000e+07
TOMPTAX            269M  2.690000e+08
TOTAL              3.6B  3.603450e+09
XP              465.15M  4.651500e+08

In [48]:
mining.bgc_calcs()

2024-04-11 14:47:13.696 | INFO     | ndf.datamining:bgc_calcs:481 - bgc calcs starting
2024-04-11 14:47:13.697 | DEBUG    | ndf.datamining:bgc_calcs:483 - Opening CACHE FILE C:\Users\souzacle\PycharmProjects\ndfutil\DATA\bgc_2024-04-11.pkl
2024-04-11 14:47:13.711 | DEBUG    | ndf.datamining:bgc_calcs:518 - BGC before mining:
0  Trade Date                     Description OpenType LowType HighType  \
0  2024-04-10  USDBRL NDF 10APR2024 BILATERAL    TRANS     BID      BID
1  2024-04-10  USDBRL NDF 30APR2024 BILATERAL    TRANS     BID      BID
2  2024-04-10  USDBRL NDF 31MAY2024 BILATERAL    TRANS     BID      ASK

0 CloseType EDRPVolume     Volume
0     TRANS        NaN  205150000
1     TRANS        NaN  306760000
2     TRANS        NaN  100000000
2024-04-11 14:47:13.725 | DEBUG    | ndf.datamining:bgc_calcs:587 - BGC _summary ===>
       Total for human     Volume
Class
BMF            306.76M  306760000
BMF2              100M  100000000
BROKEN         205.15M  205150000
TOTAL          611.91M  611910000

       Total for human     Volume
Class
BMF            306.76M  306760000
BMF2              100M  100000000
BROKEN         205.15M  205150000
TOTAL          611.91M  611910000

In [49]:
mining.tradition_calcs()

2024-04-11 14:47:13.778 | INFO     | ndf.datamining:tradition_calcs:40 - tradition calcs starting
2024-04-11 14:47:13.780 | DEBUG    | ndf.datamining:tradition_calcs:42 - Opening CACHE FILE C:\Users\souzacle\PycharmProjects\ndfutil\DATA\tradition_2024-04-11.pkl
C:\Users\souzacle\PycharmProjects\ndfutil\venv\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
2024-04-11 14:47:17.636 | DEBUG    | ndf.datamining:tradition_calcs:167 - TRADITION Summary ===>
       Total for human      Volume
Class
BMF              1.05B  1046000000
BROKEN            1.1B  1095500000
TOTAL            2.14B  2141500000

       Total for human      Volume
Class
BMF              1.05B  1046000000
BROKEN            1.1B  1095500000
TOTAL            2.14B  2141500000

In [50]:
mining.gfi_calcs()

2024-04-11 14:47:17.667 | INFO     | ndf.datamining:gfi_calcs:367 - gfi calcs starting
2024-04-11 14:47:17.668 | DEBUG    | ndf.datamining:gfi_calcs:369 - Opening CACHE FILE C:\Users\souzacle\PycharmProjects\ndfutil\DATA\gfi_2024-04-11.pkl
2024-04-11 14:47:17.680 | DEBUG    | ndf.datamining:gfi_calcs:402 - GFI before mining:
0                     Description     Volume
0  USDBRL NDF 10APR2024 BILATERAL   91500000
1  USDBRL NDF 11APR2024 BILATERAL   25000000
2  USDBRL NDF 15APR2024 BILATERAL   20000000
3  USDBRL NDF 17APR2024 BILATERAL   35000000
4  USDBRL NDF 29APR2024 BILATERAL   25000000
5  USDBRL NDF 30APR2024 BILATERAL  445300000
6  USDBRL NDF 31MAY2024 BILATERAL  250000000
2024-04-11 14:47:17.717 | DEBUG    | ndf.datamining:gfi_calcs:471 - GFI _summary ===>
       Total for human     Volume
Class
BMF             445.3M  445300000
BMF2              250M  250000000
BROKEN          196.5M  196500000
TOTAL           891.8M  891800000

       Total for human     Volume
Class
BMF             445.3M  445300000
BMF2              250M  250000000
BROKEN          196.5M  196500000
TOTAL           891.8M  891800000

In [51]:
tulletprebon['source'] = 'TulletPrebon'
tradition['source'] = 'Tradition'
bgc['source'] = 'bgc'
gfi['source'] = 'gfi'

NameError: name 'tulletprebon' is not defined

In [ ]:
bgc

In [ ]:
df_result = pd.concat([tulletprebon, tradition, bgc, gfi])
df_result

In [ ]:
df_totals = df_result.query('Class == "TOTAL"')
df_totals

In [ ]:
df_totals.groupby(['Class']).sum()

In [ ]:
from numerize import numerize

market_total = df_totals.sum()['Volume']
market_total = numerize.numerize(float(market_total))
market_total

In [ ]:
## To LOAD  pickle file

import joblib

df = joblib.load('./DATA/tulletprebon_2024-03-29.pkl')
df